{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-5 my-5">
        <h1>Inscription</h1>
        {{ form(registerForm) }}

        <br>

        Vous avez deja un compte ?<a href="{{ path('app_login') }}"> Connectez-vous ici </a>
    </div>
{% endblock %}